
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  .logo:hover {
    color:rgb(220, 63, 63);
  }
  
  .hero {
    background-image: url('images/image_5.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    font-size: 48px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #333;
  }

  .hero p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #333;
  }
  
  .content {
    margin-top: 40px;
  }
  
  .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
  form div {
    flex: 1 1 300px;
    margin: 10px;
  }
  
  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  form input[type=text], form input[type=email], form input[type=tel], form input[type=date], form textarea, form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  form select {
    height: 38px;
  }
  
  form button[type=submit] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button[type=submit]:hover {
    background-color: #444;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  /* Media Query untuk Responsif */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 16px;
  }

  form div {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  form div {
    flex: 1 1 100%;
  }
}
  